<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

 <% @photos.each do |photo| %>
 <div class='row'>
 <div class='col-md-8 col-md-offset-2'>
<div class="panel panel-default">
  <div class="panel-heading">created by <%= photo.user.username %>, <%= time_ago_in_words(photo.created_at)%> ago   </div>
  <div class="panel-body">


      <tr>

        <td><a href="/photos/<%= photo.id %>"><img src="<%= photo.image %>" class='img-responsive'></td>
        <td><%= photo.caption %></td>

        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>

         <% if current_user.id == photo.user_id %>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <%end%>

        </td>
      </tr>
       </div>
    </div>
    </div>
    </div>
  <% end %>




